*{
    box-sizing: border-box;
    font-size: 16px;
}
html{
    scroll-behavior: smooth;
    height: 100%;
}
body{
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a{
    text-decoration: none;
    color:inherit;
}
li{
    list-style: none;;
}
footer:after{
  content: "";
  display: table;
  clear: both;
}